* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
*section {
  padding-top: 50px;
  margin-top: 120px;
}

body {
  background-color: rgba(250, 151, 248, 0.999);
  background-image: url("https://images.unsplash.com/photo-1618408329284-97effc3d149a?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #8aeef9f0;
  text-shadow: 2px 2px 4px #19191b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 5px;
  background-color: #c472fb61;
  z-index: 3;
}

.burger-menu {
  display: none;
}
.logotipe {
  border-bottom: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.navigation__item a {
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
  transition: 0.3s;
}

.navigation__item a:hover {
  color: #ccf903;
}

.search input {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

/*! HERO */

.hero {
  margin-top: 10px;
  padding-top: 0;
  background-size: contain;
  background-position: start;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
}

.wrapper__left {
  margin-top: 50px;
  width: 45%;
}

.wrapper__left h1 {
  font-size: 80px;
  line-height: 70px;
  font-family: "Open Sans", sans-serif;
}

.wrapper__left p {
  color: rgba(243, 243, 243, 0.818);
  font-size: 15px;
  font-family: "", sans-serif;
}

#action-btn {
  text-decoration: none;
}

.action-btn {
  width: 200px;
  height: 60px;
  border-radius: 4px;
  background-color: rgb(19, 123, 172);
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  animation: button 3.5s infinite;
}
@keyframes button {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 200px;
    top: 0;
    background-color: green;
  }
  50% {
    top: 200px;
    left: 200px;
    background-color: rgb(103, 2, 161);
  }
  75% {
    top: 200px;
    left: 0;
    background-color: rgb(222, 7, 255);
  }
  100% {
    top: 0;
    left: 0;
    background-color: rgb(2, 174, 159);
  }
}

.wrapper__right {
  width: 1000px;
  position: relative;
}

/* .wrapper__right img:first-child {
    width: 100%;
  } */

.services {
  margin-top: 200px;
}

.section-title {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.services .section-title {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.services_list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 90px;
}

.services_list__item {
  max-width: 300px;
  margin: 15px 20px;
  text-align: center;
}

#Book {
  width: 300px;
  margin-top: 40px;
}

.item__title {
  font-size: 28px;
  font-weight: 600;
}

.item__description {
  color:rgba(243, 243, 243, 0.818);
}

.contact-us .section-title {
  max-width: 800px;
  margin-right: 20px;
}

.contact-us .wrapper {
  justify-content: space-between;
  align-items: center;
}

.site-data {
  color: rgb(255, 255, 255, 0.7);
}
.burger-list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  position: fixed;
  background-color: #19191b;
  width: 100%;
  top: 48px;
  z-index: 3;
}
